################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myBookStore/.vs/myBookStore
/myBookStore/myBookStore/bin/Debug/netcoreapp3.1
/myBookStore/myBookStore/obj
